<%= render "shared/banner" %>
<h1 class="buddy">YOUR BUDDY</h1>
<div class="test">

  <div class="texts">
    <h3 class="compeleted">
      Tasks compeleted
    </h3>
    <p class="keep">
      Wow, good job keep it up!</p>
    <div class="score">
      <p>5/9</p>
    </div>
  </div>
  <div class="nakedloutre">

    <div class="progressive">

    </div>
    <%= image_tag("NakedLoutreHi.gif") %>
  </div>

  <div class="progressivebar">

    <% current_user.score.each do |category, value| %>
      <%= category %>:
      <progress class="progress-bar" value="<%= value %>" max="100"></progress>
    <% end %>
  </div>

</div>
<div class="buddybody">

</div>

<%= render "tasks/navbar" %>
