<%= render "shared/banner" %>

<div class="test">
  <div><span class="typed-js" data-controller="typed-js"></span></div>

  <div class="nakedloutre">

    <div class="progressive">

    </div>
    <%= image_tag("NakedLoutreHi.gif") %>
  </div>
  <div class="progressivebar">

    <% current_user.score.each do |category, value| %>
      <%= category %>:
      <progress class="progress-bar" value="<%= value %>" max="100"></progress>
    <% end %>

  </div>
  <div class="buddybody">

  </div>

  <%= render "tasks/navbar" %>
