<%= render "shared/banner" %>

<div class="test">
  <span class="typed-js" data-controller="typed-js"></span>

  <div class="progressivebar">

    <% current_user.score.each do |category, value| %>
      <%= category %>:
      <progress class="progress-bar" value="<%= value %>" max="100"></progress>
    <% end %>
    <br>
  </div>
</div>
<div class="nakedloutre">
  <%= image_tag("NakedLoutreHi.gif") %>
</div>
<div class="progressive">
  <% general_score = current_user.tasks.done.count %>
  <p>XP :</p><progress class="progress-bar" value="<%= general_score %>" max="18"></progress>
</div>

<%= render "tasks/navbar" %>
