<%= render "shared/banner" %>

<div class="test">
  <span class="typed-js" data-controller="typed-js"></span>

  <div class="progressivebar">

    <% current_user.score.each do |category, value| %>
      <%= category %>:
      <progress class="progress-bar" value="<%= value %>" max="100"></progress>
    <% end %>
    <br>
  </div>
</div>
<div class="cloudcontainer">
  <div class="cloud">
    <%= image_tag("cloud.png") %>
    <div class="loutrekiss">
      <%= image_tag("SLkissgif.gif") %>
    </div>
  </div>
  <div class="progressive">
    <% general_score = current_user.tasks.done.count %>
    <p class="xp">XP</p>
    <progress class="progress-bar" value="<%= general_score %>" max="18"></progress>
  </div>
</div>

<%= render "tasks/navbar" %>
