 <div class=" py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Edit your task</h3>
        <%= simple_form_for @task do |task| %>
          <%= task.input :name %>
          <%= task.collection_radio_buttons :category, [['sport', 'sport'] ,['health', 'health'], ['business', 'business'] ,['hobby', 'hobby']],:first, :last %>
          <%= task.submit class: 'btn btn-secondary' %>
          <%= link_to 'Back', tasks_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
