 <div>
    <h3>All tasks</h3>
      <% @tasks.each do |task| %>
      <hr>
        <p>👻-<%= task.name%></p>
        <p>👉<%= task.frequence%></p>
        <p>👉<%= task.category%></p>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <% end %>
  </div>
<div>

<%= link_to "Add a task", new_task_path %>
