 <div>
    <h3>All tasks</h3>
      <% @tasks.each do |task| %>
      <hr>
        <p>👻-<%= task.name%></p>
        <p>👉<%= task.frequence%></p>
        <p>👉<%= task.category%></p>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>
  </div>
<div>
<div class= container>
<div class="topnavbar">

  <div class="left col-4">
     <ul class="text">
       <li>
        <%= link_to tasks_path do %>
        <%= image_tag("home.png") %>
        <% end %>
      </li>
      <li>
        <%= link_to new_task_path do %>
        <%= image_tag("plus.png") %>
        <% end %>
      </li>
      <li>
       <%= link_to buddy_path@user do %>
       <%= image_tag("loutretete.jpg") %>
       <% end %>
      </li>
      <li>
       <%= link_to graph_path do %>
       <%= image_tag("graph.png") %>
       <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <%= image_tag("logout.png") %>
        <% end %>
        </li>
      </ul>
    </div>
 </div>
</div>
