 <%= render "shared/banner" %>
 <div class="container">
  <div class="row">
    <div class="col-12 col-xs-6">
        <h1 id="addtasktitle">Which task do you want to add</h1>
      <div class="bg-white rounded p-3 shadow">
        <%= simple_form_for @task do |task| %>
          <div class="nameform">
            <%= task.input :name, :label => 'Name',:required => false, placeholder: 'Add your task' %>
          </div>
          <p id="pcategory">Choose a category</p>
          <div class="radiobtn">
            <%= task.collection_radio_buttons(:category, [['sport','sport'] ,['health', 'health'], ['business', 'business'] ,['hobby','hobby']], :first, :last) do |b| %>
                <%= b.label(:class => "#{b.text}_collection_radio_buttons") { b.radio_button + image_tag(b.text+'.png') } %>
                <% end %>
          </div>
          <div class="twobtn">
            <%= task.submit class: "creatbtn" %>
            <%# <%= link_to 'Back', tasks_path, class:"backbtn" %>
            <% end %>
          </div>
      </div>
        <%= image_tag("SuperloutreFlying.png", class: "SuperloutreFlying" )  %>
    </div>
  </div>
  <%= render "navbar" %>
</div>
