<%= render "shared/banner" %>
<div class="container" data-controller="validate">
  <div class="popup" data-validate-target="validate">
    <h1>Tâche ajoutée !</h1>
    <h2>Belle motivation ! une étape de passée, on continue comme ça ! </h2>
    <%= link_to tasks_path do %>
      <%=  image_tag("SLwdgif.gif", size: "200") %>
    <% end %>
  </div>
  <div class="bigbigcontainer" data-validate-target="container" >
    <div class="row">
      <div class="col-12 col-xs-6">
          <h1 id="addtasktitle">Ajoute une tache</h1>
       <div class="pastequediv">
        <div class="bg-white rounded p-3 shadow">
          <%= simple_form_for @task, remote: true, html: { 'data-action': "ajax:success->validate#displayPopup" }  do |task| %>
          <div class="nameform">
            <%= task.input :name, :label => 'Nom',:required => false, placeholder: 'Ajoute ta tache' %>
          </div>
          <p id="pcategory">Choisie une categorie</p>
          <div class="radiobtn">
            <%= task.collection_radio_buttons(:category, [['sport','sport'] ,['health', 'health'], ['business', 'business'] ,['hobby','hobby']], :first, :last) do |b| %>
            <%= b.label(:class => "#{b.text}_collection_radio_buttons") { b.radio_button + image_tag(b.text+'.png') } %>
            <% end %>
          </div>
          <div class="twobtn">
            <%= task.submit class: "creatbtn", :value => 'Créer', data: { disable_with: false }%>
            <% end %>
          </div>
        </div>
        <%= image_tag("SLflygif.gif", class: "SuperloutreFlying" )  %>
      </div>
    </div>
  </div>
</div>
<%= render "navbar" %>
