<h1> Trophés </h1>
<div class="container">

  <div class="sporttrophy">
  <p>Sport:</p>
    <div class="bronze">
      <%= image_tag("bronze-medal.png") %>
    </div>
    <div class="argent">
      <%= image_tag("silver-medal.png") %>
    </div>
    <div class="or">
      <%= image_tag("gold-medal.png") %>
    </div>
  </div>

  <div class="healthtrophy">
  <p>Santé:</p>
     <div class="bronze">
      <%= image_tag("bronze-medal.png") %>
    </div>
    <div class="argent">
      <%= image_tag("silver-medal.png") %>
    </div>
    <div class="or">
      <%= image_tag("gold-medal.png") %>
    </div>
  </div>

  <div class="hobbytrophy">
  <p>hobbies:</p>
    <div class="bronze">
      <%= image_tag("bronze-medal.png") %>
    </div>
    <div class="argent">
      <%= image_tag("silver-medal.png") %>
    </div>
    <div class="or">
      <%= image_tag("gold-medal.png") %>
    </div>
  </div>

  <div class="businesstrophy">
  <p>Orga:</p>
    <div class="bronze">
    <%= image_tag("bronze-medal.png") %>
    </div>
    <div class="argent">
      <%= image_tag("silver-medal.png") %>
    </div>
    <div class="or">
      <%= image_tag("gold-medal.png") %>
    </div>
  </div>
</div>
