<div class="container-fluid">

  <div class="row">
    <div class="col">
      <h1> Trophés </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Sport:</p>
    </div>
    <div class="col">
      <%= image_tag("bronze-medal.png") %>
    </div>
    <div class="col">
      <%= image_tag("silver-medal.png") %>
    </div>
    <div class="col">
      <%= image_tag("gold-medal.png") %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Santé:</p>
    </div>
     <div class="col">
      <%= image_tag("bronze-medal.png") %>
    </div>
    <div class="col">
      <%= image_tag("silver-medal.png") %>
    </div>
    <div class="col">
      <%= image_tag("gold-medal.png", class:"grey") %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>hobbies:</p>
    </div>
    <div class="col">
      <%= image_tag("bronze-medal.png") %>
    </div>
    <div class="col">
      <%= image_tag("silver-medal.png") %>
    </div>
    <div class="col">
      <%= image_tag("gold-medal.png") %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Orga:</p>
    </div>
    <div class="col">
    <%= image_tag("bronze-medal.png") %>
    </div>
    <div class="col">
      <%= image_tag("silver-medal.png", class:"grey") %>
    </div>
    <div class="col">
      <%= image_tag("gold-medal.png", class:"grey") %>
    </div>
  </div>

</div>
